
@font-face {
    font-family: 'Trebuchet MS-Bold', sans-serif;
    font-weight: 700;
    font-style: Bold;
    src: 
         url('/fonts/Trebuchet MS-Bold.woff') format('woff'),
         url('/fonts/Trebuchet MS-Bold.woff2') format('woff2');
    font-display: swap;
  }
  
@font-face {
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-style: normal;
    src: 
         url('/fonts/Trebuchet MS.woff') format('woff'),
         url('/fonts/Trebuchet MS.woff2') format('woff2');
    font-display: swap;
  }
  
@font-face {
    font-family: 'CeraPro-Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
    src: 
         url('/fonts/CeraPro-RegularItalic.woff') format('woff'),
         url('/fonts/CeraPro-RegularItalic.woff2') format('woff2');
    font-display: swap;
  }
  
