@layer reset, tokens, typography, base, layout, components, utilities;

/* ----------- @reset ----------- */
@layer reset {

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    html {
        -webkit-text-size-adjust: 100%;
        /* запобігає зміні масштабу на iOS */
    }

    body {
        margin: 0;
        line-height: 1.5;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
        background-color: white;
        color: black;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul,
    ol {
        padding: 0;
        margin: 0;
    }

    ol,
    ul {
        list-style: none;
    }

    button,
    input {
        padding: 0;
        margin: 0;
        border: none;
        background: none;
    }

    hr {
        height: 0;
        color: inherit;
        border-top: 1px solid;
    }

    pre,
    code,
    kbd,
    samp {
        font-family: monospace, monospace;
        font-size: 1em;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    img,
    picture,
    video,
    canvas,
    svg {
        display: block;
        max-width: 100%;
    }

    input,
    button,
    textarea,
    select {
        font: inherit;
    }

    button,
    [type="button"],
    [type="reset"],
    [type="submit"] {
        cursor: pointer;
    }

    ::selection {
        background-color: #b3d4fc;
        color: #000;
    }
}

/* ---------- @tokens ----------- */
@layer tokens {
    :root {
        /* colors */
        --clear-sky: #595B75;
        --almost-black: #303030;
        --white: #fff;
        --white-ish-bg: #F6F7FA;
        --white-ish-input: #F5F7F9;
        --footer-bg: #FCFCFF;
        --active-radio: #5893FA;
        --inactive-radio: #5893FA33;
        /* gradients */
        --button-gradient: linear-gradient(90deg, #574DCC 0%, #579AFF 100%);
        --circle-gradient: linear-gradient(180deg, rgba(52, 148, 230, 0.5) 0%, rgba(236, 110, 173, 0.5) 100%);
        /* shadows */
        --shadow-thik: 0px 10px 40px 0px #0000001A;
        --shadow: 0px 10px 30px 0px #0000000D;
        --btn-shadow: 0px 20px 30px 0px rgba(88, 79, 205, 0.2);
        --inner-shadow-radio: 0px 0px 5.8px 0px #00000005 inset;
        --inner-shadow-input: 0px 0px 5.8px 0px #261F7B0D inset;
        /* blur */
        --bdf-b100: blur(100px);
        --bdf-b200: blur(200px);
        --bdf-b500: blur(500px);
    }
}

/* ---------- @typography ---------- */
@layer typography {

    /* підключення шрифтів */
    @font-face {
        font-family: 'Trebuchet MS', sans-serif;
        font-weight: 400;
        font-style: normal;
        src:
            url(../fonts/TrebuchetMS.woff) format('woff'),
            url(../fonts/TrebuchetMS.woff2) format('woff2');
        font-display: swap;
    }

    @font-face {
        font-family: 'CeraPro-Regular', sans-serif;
        font-weight: 400;
        font-style: normal;
        src:
            url(../fonts/cera-pro-regular.woff) format('woff'),
            url(../fonts/cera-pro-regular.woff2) format('woff2');
        font-display: swap;
    }

    /* налаштування змінних шрифтів */
    :root {
        --font-body: 'Trebuchet MS', sans-serif;
        --font-terms: 'CeraPro-Regular', sans-serif;
        --weight-r: 400;
        --weight-b: 700;

        --font-size-xl: 56px;
        --font-size-main: 24px;
        --font-size-n: 22px;
        --font-size-xs: 18px;
        --font-size-us: 14px;
    }

    /* змінні під адаптивність */
    @media (max-width: 1024px) {
        :root {
            --font-size-xl: 42px;
            --font-size-main: 20px;
            --font-size-n: 18px;
            --font-size-xs: 16px;
            --font-size-us: 12px;
        }
    }

    @media (max-width: 768px) {
        :root {
            --font-size-xl: 26px;
            --font-size-main: 16px;
            --font-size-m: 24px;
            --font-size-n: 20px;
            --font-size-s: 18px;
            --font-size-sm: 14px;
            --font-size-xs: 12px;
            --font-size-us: 10px;
        }
    }


    body {
        font-family: var(--font-body);
        font-size: var(--font-size-main);
        font-weight: var(--weight-r);
        line-height: 100%;

        h1,
        h2,
        h3,
        span {
            font-weight: var(--weight-b);
        }
    }

}


/* ---------- @base ------------- */
@layer base {
    body {
        background-color: var(--white-ish-bg);
        background-image: url(../images/bg-main.svg);


        header {
            section {
                .back__page {
                    display: none;
                }
            }
        }

        footer {
            background-color: var(--footer-bg);
        }
    }
}



/* ---------- @layout ----------- */
@layer layout {
    .flx {
        display: flex;
    }

    .container {
        max-width: 1430px;
        padding-inline: 15px;
        margin: 0 auto;
    }

    header {
        margin-block-end: 128px;

        section {
            padding-block-start: 48px;
            flex-direction: column;
            row-gap: 76px;
            column-gap: 141px;

            &>button {
                align-self: last baseline;
            }

            div.hero {
                flex-direction: row;
                justify-content: space-between;

                &>div {
                    flex-direction: column;
                    align-self: center;
                    width: 100%;
                    max-width: 730px;
                }

                form {
                    width: 100%;
                    max-width: 485px;
                    min-height: 720px;
                    padding: 58px 64px;

                    div {
                        flex-direction: column;
                        align-items: center;
                    }
                }
            }
        }
    }

    main {
        flex-direction: column;

        .slick-vid {
            margin-block-end: 176px;
        }

        .about {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: var(--white);
            border-radius: 60px;
            min-height: 620px;
            margin-block-end: 170px;
        }

        .why__join {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 46px;
            margin-block-end: 172px;

            .grid {
                display: grid;
                gap: 40px;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);
            }
        }

        .can__find {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-block-end: 172px;
        }

        .universe {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-block-end: 38px;
        }

        .slick-photo {
            margin-block-end: 60px;
        }

        &>a {
            align-self: center;
            display: inline-block;
            margin-block-end: 217px;
        }

        .conclusion {
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;

            img {
                display: block;
                max-width: 100%;
                height: auto;
            }
        }
    }

    footer {
        width: 100%;
        min-height: 335px;
        align-items: center;
        justify-content: center;

        div.wrap {
            flex-wrap: wrap;
            flex-direction: row;
            width: 100%;
            max-width: 1490px;
            min-height: 140px;
            margin-inline: 10px;
            justify-content: space-between;

            div {
                flex-direction: column;
            }
        }

    }

}

/* ---------- @components ---------- */
@layer components {
    .slick-slide img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        border-radius: 10px;
    }



    .slick-slide {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
        margin-top: 25px;
    }

    header {
        section {
            form {
                .password__wrap {
                    width: 100%;
                    max-width: 360px;
                    position: relative;

                    input {
                        width: 100%;
                    }
                }

                .toggle-visibility {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    transform: translateY(-40%) translateX(-50%);
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    .grid {
        article:nth-of-type(1) {
            grid-area: 1 / 1 / 2 / 2;
        }

        article:nth-of-type(2) {
            grid-area: 1 / 2 / 2 / 3;
        }

        article:nth-of-type(3) {
            grid-area: 2 / 2 / 3 / 3;
        }

        article:nth-of-type(4) {
            grid-area: 2 / 3 / 3 / 4;
        }
    }
}

/* ---------- @utilities ----------- */
@layer utilities {}