.fraunces-bold {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}

.fraunces-black {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}

.barlow-semibold {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* resets */

*{
  box-sizing: border-box;
}

body,
h1,
p,
h2,
h3 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

html{
  scroll-behavior: smooth;
}

.flx {
  display: flex;
  align-items: center;
}

body {
  font-size: 18px;
  color: #5b636d;
}

header {
  flex-direction: column;
  row-gap: 12%;
  height: 100vh;
  background-image: url(../images/desktop/image-header.jpg);
  background-position: bottom center;
  background-size: cover;
  padding-top: 34px;
  padding-left: 44px;
  padding-right: 44px;
  div.flx {
    justify-content: space-between;
    width: 100%;
  }
  ul.flx {
    justify-content: center;
    column-gap: 47px;
    li {
      line-height: 25px;
      letter-spacing: -0.13px;
      color: #fff;
      &:last-child {
        display: flex;
        font-size: 15px;
        letter-spacing: -0.11px;
        text-transform: uppercase;
        width: 140px;
        height: 56px;
        a{
          display: flex;     
          align-items: center;       
          justify-content: center;
          width: 100%;
          height: 100%;
          margin: 0 auto;
          color: #24303e;
          background-color: #fff;
          border-radius: 28px;
          transition: 0.3s ease-in-out;
          &:hover{
            background-color: rgba(255, 255, 255, 0.25);
            color: #fff;
          }
        }
      }
    }
  }
  h1{
    font-size: 56px;
    line-height: 69px;
    letter-spacing: 8.75px;
    text-transform: uppercase;
    color: #fff;
  }
  &>a{
    display: inline-block;
    width: 36px;
    height: 114px;
    background-image: url(../images/icons/icon-arrow-down.svg);
  }
}

main {
  section{
    min-height: 1200px;
    width: 100%;
  }
}