/* resets */

* {
  box-sizing: border-box;
}

body,
h1,
p,
h2,
h3 {
  margin: 0;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

/* fonts */

.fraunces-bold {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}

.fraunces-black {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}

.barlow-semibold {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* def classes */
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.flx {
  display: flex;
  align-items: center;
}

body {
  font-size: 18px;
  color: #5b636d;
}

/* customs */

header {
  flex-direction: column;
  row-gap: 12%;
  height: 100vh;
  background-image: url(../images/desktop/image-header.jpg);
  background-position: bottom center;
  background-size: cover;
  padding-top: 34px;
  padding-left: 44px;
  padding-right: 44px;
  .burger {
    display: none;
    cursor: pointer;
    width: 24px;
    height: 18px;
    border-block: 2px solid #fff;
    span {
      align-self: center;
      width: 100%;
      display: block;
      height: 2px;
      background-color: #fff;
    }
  }
  div {
    justify-content: space-between;
    width: 100%;
  }
  ul {
    justify-content: center;
    column-gap: 47px;
    li {
      line-height: 25px;
      letter-spacing: -0.13px;
      color: #fff;
      &:last-child {
        display: flex;
        font-size: 15px;
        letter-spacing: -0.11px;
        text-transform: uppercase;
        width: 140px;
        height: 56px;
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          margin: 0 auto;
          color: #24303e;
          background-color: #fff;
          border-radius: 28px;
          transition: 0.3s ease-in-out;
          &:hover {
            background-color: rgba(255, 255, 255, 0.25);
            color: #fff;
          }
        }
      }
    }
  }
  h1 {
    font-size: 56px;
    line-height: 69px;
    letter-spacing: 8.75px;
    text-transform: uppercase;
    color: #fff;
  }
  & > a {
    display: inline-block;
    width: 36px;
    height: 114px;
    background-image: url(../images/icons/icon-arrow-down.svg);
  }
}

main {
  background: linear-gradient(to bottom, #3dbeff, #90d4c6);
  section {
    background: #fff;
  }
  section.about {
    flex-direction: column;
    article {
      width: 100%;
      flex-wrap: wrap;
      min-height: 600px;
      .info {
        padding: 11% 7.5% 11% 11.5%;
        flex-direction: column;
        flex-basis: 50%;
        flex-shrink: 1;
        flex-grow: 1;
      }
      h2 {
        margin-bottom: 32px;
        font-size: 40px;
        line-height: 49px;
        letter-spacing: 0.286px;
        color: #24303e;
      }
      p {
        margin-bottom: 40px;
        line-height: 30px;
        letter-spacing: -0.13px;
        color: #808397;
      }
      a {
        display: inline-block;
        min-width: 137px;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #24303e;
        text-align: center;
        background-repeat: no-repeat;
        background-position: center bottom;
      }
      .bg {
        min-width: 513px;
        min-height: inherit;
        background-position: center;
        background-size: cover;
        flex-basis: 50%;
        flex-shrink: 1;
        flex-grow: 1;
      }
      &.yellow {
        a {
          background-image: url(../images/icons/yellow-line.svg);
          transition: 0.3s ease-in-out;
          &:hover {
            background-image: url(../images/icons/yellow-line-hover.svg);
          }
        }
        .bg {
          background-image: url(../images/desktop/image-transform.jpg);
        }
      }
      &.pink {
        a {
          background-image: url(../images/icons/pink-line.svg);
          transition: 0.3s ease-in-out;
          &:hover {
            background-image: url(../images/icons/pink-line-hover.svg);
          }
        }
        .bg {
          order: -1;
          background-image: url(../images/desktop/image-stand-out.jpg);
        }
      }
    }
  }
  section.services {
    flex-wrap: wrap;
    article {
      flex-direction: column-reverse;
      max-width: 720px;
      height: 600px;
      flex-basis: 50%;
      flex-shrink: 1;
      flex-grow: 1;
      padding-bottom: 60px;
      background-position: center;
      div {
        width: 340px;
        flex-direction: column;
        text-align: center;
        h2 {
          margin-bottom: 27px;
          font-size: 28px;
          line-height: 35px;
          letter-spacing: -0.2px;
          color: #24554a;
        }
        p {
          font-size: 16px;
          line-height: 27px;
          letter-spacing: -0.12px;
          color: #3e7467;
        }
      }
      &.first {
        background-image: url(../images/desktop/image-graphic-design.jpg);
      }
      &.second {
        background-image: url(../images/desktop/image-photography.jpg);
      }
    }
  }
  section.clients {
    flex-direction: column;
    justify-content: center;
    min-height: 780px;
    padding: 160px 2.5%;
    gap: 80px;
    h2 {
      font-size: 20px;
      line-height: 25px;
      letter-spacing: 5px;
      color: #a7aaad;
      text-transform: uppercase;
    }
    div {
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 30px;
      row-gap: 64px;
      article {
        flex-basis: 350px;
        text-align: center;
        letter-spacing: -0.128px;
        img {
          margin-bottom: 58px;
          border-radius: 50%;
        }
        p {
          line-height: 32px;
          color: #5b636d;
          margin-bottom: 59px;
        }
        h3 {
          line-height: 22px;
          color: #24303e;
          margin-bottom: 9px;
        }
        span {
          font-size: 14px;
          line-height: 25px;
          letter-spacing: -0.1px;
          color: #a7aaad;
        }
      }
    }
  }
}

footer {
  min-height: 800px;
  background-color: #90d4c6;
  flex-direction: column;
  section.projects {
    align-items: normal;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
    div {
      flex: 1 1 25%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  section.contacts {
    flex-direction: column;
    height: 350px;
    padding-top: 72px;
    img {
      margin-bottom: 40px;
    }
    a {
      transition: 0.3s ease-in-out;
    }
    ul:first-of-type {
      justify-content: center;
      column-gap: 47px;
      margin-bottom: 80px;
      li {
        line-height: 25px;
        letter-spacing: -0.13px;
        color: #458d7e;
        &:hover {
          color: #fff;
        }
      }
    }
    .btm {
      column-gap: 28px;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        path {
          transition: fill 0.2s ease-in-out;
        }
        &:hover svg path {
          fill: #fff;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  header {
    div.flx {
      .burger {
        display: flex;
      }
      img {
        width: 123px;
        height: 24px;
      }
      position: relative;
    }
    nav.active .burger {
      opacity: 0.5;
    }
    nav.active ul.flx {
      background-color: #fffcf8;
      display: flex;
      position: absolute;
      right: 0;
      top: 308.5%;

      flex-direction: column;
      width: 330px;
      height: 385px;
      row-gap: 32px;
      &::before {
        content: "";
        position: absolute;
        width: 36px;
        height: 36px;
        background-color: #fffcf8;
        top: -18px;
        right: -18px;
        transform: rotate(135deg);
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
      }
      a {
        color: #808397;
      }
      li:last-child {
        a {
          color: #24303e;
          background-color: #fbd600;
          &:hover {
            background-color: rgba(214, 214, 0, 0.25);
            color: #1f1d1d;
          }
        }
      }
    }
    ul.flx {
      display: none;
    }
  }

  main {
    section.about article.yellow .bg {
      order: -1;
    }
  }

  footer {
    section.projects {
      div {
        flex: 1 1 50%;
      }
    }
  }
}

@media (max-width: 780px) {
  header {
    h1 {
      font-size: 40px;
      line-height: 49px;
      text-align: center;
      letter-spacing: 6.25px;
      text-transform: uppercase;
    }
    nav.active ul.flx {
      width: 100%;
    }
  }
  main {
    section.about article .bg {
      min-width: 320px;
    }
  }
}
